* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-indent: 0px;
}

h3 {
    font-size: 1.1em;
}

h4 {
    margin-left: 20;
}

p {
    font-size: 0.95em;
}

body {
    min-height: 100%;
    background: linear-gradient(to right, #dedede, rgb(255, 252, 242));
    display: block;
    
}

.myself {
    display: inline-flex;
    width: 450px;
    padding: 10px;
    margin: 1% 5% 1% 5%;
    align-items: center;
    justify-content:center;
}
.myself p {
    font-size: 1em;
}

main {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.06);
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
/*    border-radius: 2%;*/
    display: block;
}

nav {
    padding: 0px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: stretch;
    width: 100%;
    flex-flow: nowrap;
    flex: 1;
    font-size: 12px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    height: 30px;
    align-items: center; 
    cursor: pointer;
    padding: 10px;
    
}

.btn:hover {
    background-color: rgba(255, 231, 176, 0.58);
/*    border-radius: ;*/
}

#photo {
    border-radius: 50%;
    max-height: 120px;
    margin: 0 20;
}

.info {
    padding-top: 10;
    list-style-position: inside;
}

.content p, ol {
    font-size: 0.95em;
    padding:5 35;
}







